@font-face {  
  font-family: "ptsans-400.woff2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "ptsans-700.woff2";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}
/*Общие стили*/

*,
::after,
::before {
	box-sizing: border-box; 
}
html {
	height: 100%;
	background-color: #e5e5e5;
}
body {
	display: flex;
	flex-direction: column;
	width: 1200px;
	min-height: 100%;
	margin: 0 auto;

	font-size: 16px;
	line-height: 24px;
	font-family: "ptsans", "Arial", sans-serif;

	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}
.visuality-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	border: 0;
}
.main {
	flex-grow: 1; 
}
.list-reset {
	margin: 0;
	padding: 0;
	
	list-style-type: none;
}
.button {
	display: inline-block; /*чтоб воспринимались отступы*/

	font-weight: 700;
	font-family: inherit;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;

	background-color: #756257;
	border: none;
	border-radius: 4px;
}
/*Конец общих стилей*/

/*кнопки*/
.button-nav {
	width: 160px;
	padding: 9px 15px;

	line-height: 20px;
	color: #ffffff;
}
.button-search {
	width: 575px;
	padding: 16px 20px 8px;

	font-size: 20px;
	line-height: 36px;

	border-radius: 10px;
}
.button-mailing {
	width: 200px;
	padding: 19px 16px 15px;

	font-size: 20px;
	line-height: 26px;

	background-color: #83b3d3;
	border-radius: 0 10px 10px 0;
}
.result-list .button {
	font-size: 16px;
	line-height: 21px;
}
.button-result-more {
	width: 133px;
	margin-right: 26px;

	font-size: 16px;
	line-height: 21px;
}

.button-result-favorites {
	width: 141px;
	
	background-color: #83b3d3;
}
.button-result-favorites-current {
	width: 141px;
	
	background-color: #7db54f;
}
.button-result-add {
	display: block;
	width: 619px;
	margin: 0 auto;
	padding: 17px;

	font-size: 20px;
	line-height: 26px;

	background-color: #83b3d3;
}
/*конец кнопок*/
/*шапка*/
.page-header {
	display: flex;
	padding: 0 70px;
}
.page-header-logo {
	display: inline-block;
	width: 139px;
	height: 70px;
}

/*навигация*/
.navigation { 
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-left: 47px;

	outline: 2px solid red; /*временно*/
}

.navigation-list {
  display: flex;
  flex-wrap: wrap; /*Для возможного добаления пунктов меню*/

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  outline: 2px solid green; /*временно*/
}

.navigation-item {
	margin-right: 35px;
}
.navigation-link {
	display: inline-block;
	padding: 20px 0 18px 0;

	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: #000000;
	text-decoration: none;

	border-bottom: 2px solid transparent; /*Для выделения акт пункта меню ??*/
}
.navigation-link-current {
	border-bottom: 2px solid #756257;
}

.navigation-user {
	display: flex;
	align-items: center;
	margin-left: auto;

	outline: 2px solid blue; /*временно*/
}

.navigation-user-link {
	display: inline-block;
	margin-right: 23px;
}
/*Конец шапки и навигации*/

/*приглашение*/
.invitation {
	text-align: center;
}
.invitation-img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.invitation-description {
  width: 700px;
  margin: 0 auto;
  padding: 38px 0 58px;
}

.invitation-title {
  margin-bottom: 31px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
.invitation-text {
  margin-top: 0;

  font-size: 22px;
  line-height: 36px;
  color: #333333;
}
.invitation-bg {
  padding: 45px 0 83px;

  background: url("../images/under-bg.svg"),
    url("../images/index-background.jpg");
  background-color: #5a5a5a;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%, cover;
}

/*Конец приглашения*/

/* блок info - убрать потом в разметке лишние классы, будут */
.info-list {
	display: flex;
	flex-wrap: wrap;
}

.info-wrapper {
  display: flex;
}

.info-content {
  width: 400px;
  min-height: 384px;
  padding: 98px 85px 50px;

  text-align: center;
}
.info-img {
  width: 800px;
}
.info-title {
  width: 172px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}
.info-number {
  display: inline-block;
  margin-bottom: 30px;
}
.info-description {
  margin-top: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.info-wrapper .info-content {
  background-color: #83b3d3;
}
.info-wrapper .info-title {
  color: #ffffff;
}
.info-wrapper .info-description {
  color: #ffffff;
}
.info-list-inner {
  display: flex;
  flex-wrap: wrap;
}
.info-wrapper img {
  display: block;
  height: 100%;
}
.info-item-inner .info-content {
  padding: 185px 90px 30px;

  background-color: rgba(131, 179, 211, 0.12);
}
.info-item-inner:nth-child(2n) .info-content {
  background-color: #ffffff;
}
.info-item-inner .info-title {
  margin-bottom: 18px;
}
.info-content-housing {
  background-image: url("../images/housing.svg");
  background-repeat: no-repeat;
  background-position: top 89px center;
  background-size: 75px 72px;
}
.info-content-meal {
  background-image: url("../images/meal.svg");
  background-repeat: no-repeat;
  background-position: top 91px center;
  background-size: 74px 70px;
}
.info-content-souvenirs {
  background-image: url("../images/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: top 85px center;
  background-size: 64px 76px;
}

/*Конец блока info*/

/*поиск*/
.search {
	text-align: center;
	color: #000000;
	padding: 91px 0 93px;
}
.title {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
}	
.search-description {
	font-size: 22px;
	line-height: 26px;
	color: #333333;
}
.title {
	font-size: 30px;
	line-height: 36px
}
.description {
	font-size: 22px;
	line-height: 26px
}	

/*подписка*/
.mailing {
	text-align: center;
	padding: 94px 0 94px;
}
.mailing-description-hotels {  
	color: #333333;
}
.mailing-hotels {
	padding: 0;
	margin-bottom: 140px;
}
.mailing-input {
	width: 600px;
	height: 60px;
	background-color: #f2f2f2;
	border-radius: 10px 0 0 10px;
}
.mailing-index {
	background-color: rgba(131,179, 211, 0.12);
	background-image: url("../images/mailing-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
}

/*футер*/

.page-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 72px;
	outline: 2px solid red; /*Временно*/
}
.footer-social-list {  
	width: 230px;
	display: flex;
	align-items: center;
	outline: 2px solid blue;/*временно*/
}
.footer-social-item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 29px;
	outline: 3px solid black;
}
.footer-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	outline: 2px solid red; /*временно*/
}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
.page-footer-tel-link {
	display: inline-block;
	font-size: 40px;
	line-height: 40px;
	color: #000000;
	text-decoration: none;
}
.page-footer-logo-link {
	display: inline-block;
}

/*вторая страница*/
.wrapper-inner {
	padding: 0 72px;
}
.page-title {
	font-size: 60px;
	line-height: 78px;
	font-weight: 700;
}
.beginning {
	background-image: url("../images/filter-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	background-color: #83b3d3;
	padding: 35px 71px 83px;
	margin-bottom: 50px;
}
.title-hotels {
	font-size: 60px;
	line-height: 78px;
	font-weight: 700;
	margin: 0;
}
.breadrumbs-list {
	display: flex;
	margin-top: 5px;
	margin-bottom: 45px;
}
.breadrumbs-item {
	margin-right: 30px;
}
.breadrumbs-link {
	display: inline-block;
}
.form {
	display: flex;
	justify-content: space-between;
}
.form-part {
	border: none;
}
.form-part-button button  {
	display: block;
}
.form-submit {
	width: 180px;
	padding: 10px 0 10px;
	font-size: 16x;
	line-height: 21px;
	margin-bottom: 20px;
	background-color: #83b3d3;
}
.form-reset {
	border: none;
	color: #ffffff;
	background-color: inherit;
}
.form-part legend {
	font-size: 20px;
	line-height: 26px;
	color: #ffffff;
	margin-bottom: 35px;
}
.filter-item {
	margin-bottom: 13px; 
}
.filter-item:last-child {
	margin-bottom: 0;
}
.sorting {
	display: flex;
	justify-content: space-between;
	margin-bottom: 76px;
}
.sorting-control {
	width: 141px;
	height: 23px;
}
.sorting-title {
	font-size: 30px;
	line-height: 39px;
	font-weight: 700;
	text-transform: uppercase;
}
.sorting-link {
	display: inline-block;
	margin-left: 24px;
}
.result-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
	padding-bottom: 16px;
}
.result-img {
	margin-bottom: 16px;
}
.result-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}
.result-item {
	width: 340px;
	padding: 20px;
	margin-bottom: 18px;
	outline: 1px solid red;
}
.result-title {
	font-size: 24px;
	line-height: 31px;
	font-weight: 700;
}
.result-feature {
	font-size: 18px;
	line-height: 23px;
	margin-right: 25px;
}
.result-rating {
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
}
.result-more {
	padding: 30px 0;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

/*пагинация*/
.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 73px;
}
.pagination-list { 
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pagination-item {
	margin-right: 8px;
}
.pagination-link {
	display: block;
	text-align: center;
	padding-top: 13px;
	min-width: 55px;
	min-height: 55px;
	background-color: #83b3d3;
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
}
